@page "/products"
@using FinalProject.Client.Components

<PageTitle>Products</PageTitle>

<section>
    <img src="img/product-banner.png" class="img-fluid"/>
</section>

<section class="mt-2 mb-4">
    <ProductCard />
</section>

@code {

}
